/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400|Source+Sans+Pro:900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header div nav {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px; }
  header div nav ul {
    display: flex; }
    header div nav ul li {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: black;
      padding-right: 40px; }
      header div nav ul li a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px; }
        header div nav ul li a:hover {
          border-bottom: 2px solid black; }
header .primero {
  margin-top: 110px; }
  header .primero h4 {
    font-family: "Lato", sans-serif;
    font-size: 19px;
    color: black;
    font-weight: 400; }
    header .primero h4:before {
      height: 1px;
      background-color: black;
      width: 280px;
      display: inline-block;
      content: '';
      position: relative;
      bottom: 5px;
      right: 20px; }
  header .primero .color-fondo {
    position: relative;
    background-color: #F2F2F2;
    margin-top: 150px;
    height: 580px; }
  header .primero .portada {
    width: 1100px;
    margin: auto;
    position: relative;
    bottom: 655px;
    margin: auto;
    max-width: 1017px; }
  header .primero .encabezado {
    width: 1100px;
    margin: auto;
    position: relative;
    bottom: 1049px;
    text-align: center; }
    header .primero .encabezado h6 {
      font-weight: 100;
      font-size: 20px;
      color: white;
      margin-bottom: 0;
      font-family: "Lato", sans-serif; }
    header .primero .encabezado .linea_blanca {
      width: 600px;
      height: 2px;
      background-color: white;
      display: inline-block; }
    header .primero .encabezado h1 {
      font-size: 45px;
      font-weight: 900;
      text-transform: uppercase;
      color: white;
      margin-top: 10px;
      font-family: "Source Sans Pro", sans-serif; }

section {
  width: 1100px;
  margin: auto; }
  section div {
    position: relative; }
    section div h4 {
      font-family: "Lato", sans-serif;
      font-size: 19px;
      color: black;
      font-weight: 400; }
    section div p {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: black;
      font-weight: 300; }

/*# sourceMappingURL=style.css.map */
